<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>
   
    <!-- ================ Order Details List ================= -->
    <div class="details-a">
        <div class="recentOrders-a">
            <div class="cardHeader-a">
                <h2>About</h2>
            </div>
            <table>
                <tbody>
                    <tr>
                      <td>
                          <p>Bapol merupakan usaha yang menjual produk-produk olahan dari bakso ikan,seperti basreng,cimol dan masih banyak lagi.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <p>Bapol di dirikan pada tanggal 25 mei 2023 oleh Wulandari(salah satu owner bapol).Bapol awalnya adalah usaha sampingan kami, tetapi karena produk bapol banyak diminati , kami mengembangkannya sampai sebesar ini</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <p>Produk-produk bapol awalnya di pasarkan dari mulut ke mulut, Namun sekarang kami mempunyai akun media sosial seperti Tiktok , Instagram bahkan kami punya halaman web sendiri.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <p></p>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
  </div>



  <div class="details-a">
    <div class="recentOrders-a">
        <table>
            <tbody>
                <tr>
                  <td>
                    <footer>
                 
                      <div class="contact-info">
                          <p>Hubungi kami untuk informasi lebih lanjut:</p>
                          <p onclick="window.location.href='https://www.google.com/maps/place/STMIK+Triguna+Dharma/@3.5414499,98.6577755,17z/data=!3m1!4b1!4m6!3m5!1s0x30313a7e757a80cf:0xd4e3a9dc3a116b97!8m2!3d3.5414445!4d98.6603504!16s%2Fg%2F1hm2c_zfb?entry=ttu'">Alamat: Jl. Pintu Air I Jl. Jenderal Besar A.H. Nasution No.73, Kwala Bekala, Kec. Medan Johor, Kota Medan, Sumatera Utara 20146</p>
                          <p onclick="openWhatsApp()">Telepon: 0821-6378-4981</p>
                          <p onclick="openInstagram()">Instagram: bapol.id</p>
                      </div>
                  </footer>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


  </div>