

<h2>tambah data</h2>


<!-- error yang dikirim dari app.js ketika ada yang duplikat -->
<!-- mengeceknya harus menggunakan typeof -->

<% if (typeof errors != 'undefined') { %>
  <div class="cool-div">
    <ul>
      <% errors.forEach(err => { %>
         <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>

<% } %>

<!-- atribute name pada tag input harus sama dengan property json -->
<form method="post" action="/kontak">
  <div class="form-group">
    <label for="nama">Tanggal:</label>
    <input type="date" id="tanggal" name="tanggal" required>
  </div>
  <div class="form-group">
    <label for="nohp">Materi:</label>
    <input type="text" id="materi" name="materi" required>
  </div>
  <div class="form-group">
    <label for="email">Status:</label>
    <input type="text" id="status" name="status" required>
  </div>
  <div class="form-group">
      <button type="button" onclick="window.location.href='/kontak'">Batal</button>
    <button type="submit" onclick="window.location.href=''">Kirim</button>
  </div>
</form>




