
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox-bp">
      <div class="card">
        <div>
          <div class="numbers">50 gram</div>
          <div class="cardName">Rp 5.000</div>
          <div class="dropdown">
            <button class="dropbtn">Buy Now</button>
            <div class="dropdown-content">
              <a href="#" onclick="openWhatsApp()">WhatsApp</a>
              <a href="#" onclick="openInstagram()">Instagram</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">250 gram</div>
          <div class="cardName">Rp 20.000</div>
          <div class="dropdown">
            <button class="dropbtn">Buy Now</button>
            <div class="dropdown-content">
              <a href="#" onclick="openWhatsApp()">WhatsApp</a>
              <a href="#" onclick="openInstagram()">Instagram</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">500 gram</div>
          <div class="cardName">Rp 35.000</div>
          <div class="dropdown">
            <button class="dropbtn">Buy Now</button>
            <div class="dropdown-content">
              <a href="#" onclick="openWhatsApp()">WhatsApp</a>
              <a href="#" onclick="openInstagram()">Instagram</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">1 kg</div>
          <div class="cardName">Rp 70.000</div>
          <div class="dropdown">
            <button class="dropbtn">Buy Now</button>
            <div class="dropdown-content">
              <a href="#" onclick="openWhatsApp()">WhatsApp</a>
              <a href="#" onclick="openInstagram()">Instagram</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="topbar" onclick="window.location.href='/produk'">
      <div class="toggles">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
    </div>
  </div>

  
    
 

