
<div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
      <div>
        <h1>Cimol Pedas</h1>
      </div>
      <div></div>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox-bp">
      <% ci.forEach(ci => { %>
      <div class="card">
          <div>
            <div class="numbers"><%= ci.berat %></div>
            <div class="cardName"><%= ci.harga %></div>
            <div class="dropdown">
              <button class="dropbtn">Buy Now</button>
              <div class="dropdown-content">
                <a href="#" onclick="openWhatsApp()">WhatsApp</a>
                <a href="#" onclick="openInstagram()">Instagram</a>
              </div>
            </div>
          </div>
      </div>
    <% }) %>
  </div>

    <div class="topbar" onclick="window.location.href='/produk'">
      <div class="toggles">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
    </div>
  </div>

  
    
 

