<form class='icon' action="#">
    <div class="dropdown">
        <button class="dropbtn1">⚡ GPT-1.0</button>
        <div class="dropdown-contents">
          <p>Keuangan</p>
          <p>Belajar</p>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn2 white">GPT-1.1 🔒</button>
        <div class="dropdown-contents">
          <p>Keuangan</p>
          <p>Belajar</p>
        </div>
    </div>
   
</form>
<h1 class="h1">AlfinGPT</h1>

