<form class='icon' action="#">
    <div class="dropdown">
        <button class="dropbtn1">Jadwal</button>
        <div class="dropdown-contents">
          <p>Keuangan</p>
          <p>Belajar</p>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn2">Jadwal</button>
        <div class="dropdown-contents">
          <p>Keuangan</p>
          <p>Belajar</p>
        </div>
    </div>
   
</form>
<h1 class="h1">AlfinGPT</h1>

