
  <div class="layanan-container">
    <div class="layanan">
      <i class="layanan-icon" style="background-color: #FFD700;">1</i>
      <h2 class="layanan-title">Layanan Pertama</h2>
      <p class="layanan-description">Deskripsi singkat tentang layanan pertama kami.</p>
    </div>
    <div class="layanan">
      <i class="layanan-icon" style="background-color: #FF8C00;">2</i>
      <h2 class="layanan-title">Layanan Kedua</h2>
      <p class="layanan-description">Deskripsi singkat tentang layanan kedua kami.</p>
    </div>
    <div class="layanan">
      <i class="layanan-icon" style="background-color: #E9967A;">3</i>
      <h2 class="layanan-title">Layanan Ketiga</h2>
      <p class="layanan-description">Deskripsi singkat tentang layanan ketiga kami.</p>
    </div>
  </div>
