<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>
    <!-- ======================= Cards ================== -->
    <div class="cardBox-p">
    <% produk.forEach((pro) => { %>
            <div class="card" onclick="window.location.href='<%= pro.link %>'">
                <div>
                    <div class="numbers"><%= pro.nama %></div>
                    <div class="cardName"><%= pro.desk %></div>
                </div>
                <div class="iconBx">
                        <img src="<%= pro.gambar  %>" alt="" width="150px" height="150px">
                </div>
            </div>
    <% }) %>
    </div>
  </div>