<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>
    <!-- ======================= Cards ================== -->
    <div class="cardBox-p">
        <div class="card" onclick="window.location.href='/produk/bp'">
            <div>
                <div class="numbers">Basreng Pedas</div>
            </div>
  
            <div class="iconBx">
                    <img src="img/basreng.jpeg" alt="" width="150px" height="150px">
            </div>
        </div>
  
        <div class="card">
            <div>
                <div class="numbers">Cimol Pedas</div>
            </div>
  
            <div class="iconBx">
                <img src="img/cimol.jpeg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Basreng Original</div>
            </div>
  
            <div class="iconBx">
                <img src="img/original.jpeg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Macaroni Pedas</div>
            </div>
  
            <div class="iconBx">
                <img src="img/macaroni.jpeg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Mie Gulung Pedas</div>
            </div>
  
            <div class="iconBx">
                <img src="img/mie gulung.jpeg" alt="" width="150px" height="150px">
            </div>
        </div>
    </div>
  
  </div>