<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>
    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <ion-icon name="cart-outline">
                    <img src="img/basreng.jpg" alt="" width="150px" height="150px">
                </ion-icon>
            </div>
        </div>
  
        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <img src="img/basreng.jpg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <img src="img/basreng.jpg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <img src="img/basreng.jpg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <img src="img/basreng.jpg" alt="" width="150px" height="150px">
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">Rp 5000</div>
                <div class="cardName">Basreng</div>
                <div class="cardName">100 gram</div>
            </div>
  
            <div class="iconBx">
                <img src="img/basreng.jpg" alt="" width="150px" height="150px">
            </div>
        </div>
    </div>
  
  </div>