<div class="cards-home">
    <div class="img-p">
        <p>Cimol</p>
    </div>
    <div class="img-p">
        <p>Basreng Original</p>
    </div>
    <div class="img-p">
        <p>Cimol Pedas</p>
    </div>
    <div class="img-p">
        <p>Macaroni Pedas</p>
    </div>
</div>