<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <div id="b-flex">
    <%- include('nav') %>
    <div class="container">
      <%- body %>
    </div>
  </div>
</body>
</html>