<div class="navbar">
  <h3 onclick="window.location.href='/beranda'">alfin</h3 onclick="window.location.href='/beranda'">
    <a href="/beranda">Beranda</a>
    <a href="/layanan">Keuangan</a>
    <a href="/kontak">Belajar</a>
  </div>