<div class="navbar">
  <div class="move">
    <h4 onclick="window.location.href='/beranda'">Jadwal</h4>
    <button>h</button>
  </div>
  
    <a href="/beranda">Beranda</a>
    <div class="dropdown">
      <div class="dropbtn">Jadwal</div>
      <div class="dropdown-content">
        <a href="/layanan">Keuangan</a>
        <a href="/kontak">Belajar</a>
      </div>
  </div>
  </div>