<div class="navbar">
  <div class="move">
    <h6 onclick="window.location.href='/add'">➕ New Jadwal</h6>
    <p class="click" title="Close Sidebar">⬅️</p>
  </div>
  <p>Menu</p>
    <a href="/beranda">Beranda</a>
    <div class="dropdown">
      <div class="dropbtn">Jadwal</div>
      <div class="dropdown-content">
        <a href="/layanan">Keuangan</a>
        <a href="/kontak">Belajar</a>
   
        


      </div>
  </div>
  </div>
  <p class="click2" title="Open Sidebar">➡️</p>